@import "tailwindcss";
@import "nes.css/css/nes.min.css";

@theme {
  --color-bg-dark: #0a0a0a;
  --color-bg-panel: #111111;
  --color-logcoin: #f8d44b;
  --color-success: #22c55e;
  --color-danger: #ef4444;
}

@layer base {
  .nes-text,
  .nes-btn,
  .nes-dialog,
  .nes-container {
    @apply ![font-family:var(--font-pixel),monospace];
  }
}
